[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nextcord = "*"
openai = "*"
python-dotenv = "*"
easy-pil = "*"
pillow = "*"
hentai = "*"

[dev-packages]

[requires]
python_version = "3.10"
